html {
    background: #f6f4f2;
    font-family: "Brandon-Text";
}

#content {
    padding: 10%
}

h1 {
    font-family: "Brandon-Text";
    font-size: 28px;
    font-weight: 900;
}

#mayhem {
    font-family: "Bung";
     font-size: 28px;
}

#pixel-up {
    font-family: "IBM Plex Mono";
     font-size: 28px;
}

#the-new-wild {
    font-family: "Cocoi";
    font-weight: 900;
     font-size: 28px;
}

#adversary {
   font-family: "Mask";
   font-size: 28px;
}