
.Post {
    padding: 10% 22.5% 10% 22.5%;
    font-size: 19px;
    line-height: 34px;
    color: #111111;
    text-align: justify;
    font-family: 'Roboto';
    .Title {
        font-family: 'Space_Mono' !important;
        font-weight: 800;
    }
}

.CC {
    width: 16px;
    height: 16px;
}
